# Ignorar archivos y directorios de Claude
.claude/
CLAUDE.md
CLAUDE. local.md 

# Node y Frontend
node_modules/
dist/
.angular/

# Java y Backend
target/
*.jar
*.class

# Python e IA
__pycache__/
*.pyc
.env

# SO
.DS_Store
# Added by code-review-graph
.code-review-graph/
